* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  height: 100%;
}

.app {
  width: 80%;
  max-width: 1366px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.app__left {
  width: 60%;
  margin-right: auto;
}
.app__right {
  width: 35%;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__dropdown {
  width: 32%;
  max-width: 280px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 981px) {
  .app {
    flex-direction: column;
  }

  .app__left {
    width: 100%;
    margin-bottom: 20px;
  }
  .app__right {
    width: 100%;
  }
}
