.infoBox {
  flex: 1;
  margin-right: 2%;
  border-radius: 10px !important;
  box-sizing: border-box;
  transition: all 0.33s ease-in-out !important;
}

.infoBox--selected {
  -webkit-box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.3) !important;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.3) !important;
}

.infoBox:last-child {
  margin-right: 0;
}

.infoBox:nth-child(1) {
  background-color: #ec4887;
}
.infoBox:nth-child(2) {
  background-color: #875fc0;
}
.infoBox:nth-child(3) {
  background-color: #46c5f2;
}

.infoBox .infoBox__title,
.infoBox .infoBox__cases,
.infoBox .infoBox__today {
  color: #ffffff !important;
}

@media (max-width: 618px) {
  .infoBox {
    width: 100%;
    margin-right: 0;
  }
  .infoBox:not(:last-child) {
    margin-bottom: 20px;
  }
}
